/*=================
GENERAL
==================*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 640px;
    margin-left: 180px;

}

body {
    font-family: arial,sans-serif;
}

/*=================
FORMS
==================*/



/*=================
IMAGES
==================*/

.logo img {
    width: 92px;
    margin-left: 20px;
    margin-right: 55px;
    position: relative;
    top: 5px;
    left: 5px;
}

/*=================
HEADER
==================*/

header {
    
}

.header-top {
    display: flex;
    height: 46px;
    align-items: center;
    margin-top: 23px;
    flex-wrap: nowrap;
}

.search-bar {
    width: 695px;
    font: 16px arial;
    margin-left: 25px;
    border: none;
    color: rgba(0,0,0,.87);
}

.apps-btn {
    display: inline-block;
    background: transparent url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png") -132px -38px no-repeat;  
    width: 30px;
    height: 30px;
    opacity: .55;
    font-size: 0px;
    margin-left: 15px;
    vertical-align: middle;
}

.apps-btn:hover {
    opacity: 1;
}

.prof-btn {
    display: inline-block;
    background: transparent url("../assets/b-icon.png") no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 0px;
    margin-left: 15px;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 50%
}

.box-2 {
    margin-right: 200px;
    width: 720px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font: 16px arial;
    display: flex;
    align-items: center;
}

.box-2:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border: none;
}

.box-4 {
    margin-left: auto;
    white-space: nowrap;
}

.search-icon {
    padding-right: 17px;
    color: #4285f4;
    cursor: pointer;
    
}

.clear-icon {
    margin: 0 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
}

/*=================
NAVIGATION
==================*/

.navigation {
    display: flex;
    height: 58px;
    justify-content: baseline;
}

.navigation li:first-child a {
    color: #1A73E8;
    border-bottom: 3px solid #1A73E8;
}

.navigation li a {
    display: inline-block;
    margin: 7px 1px 0px 1px;
    padding: 16px 12px 12px 12px;
    cursor: pointer;
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    outline: none;
 }

.navigation span {

}

.navigation .nav-right {
    margin-left: auto;
    white-space: nowrap;
    line-height: 22px;
}

.navigation .nav-right a{

    
}

.material-icons.md-16 {
    font-size: 18px !important;
    padding-right: 5px;
    position: relative;
    top: 4px;
}

.speed-results {
    display: block;
    border-top: 1px solid #ebebeb;
    height: 43px;
    line-height: 43px;
    color: #70757a;
    font-size: 14px;
}

/*=================
RESULTS-SNIPPET
==================*/

main {
    display: flex;
    flex-direction: column;
}

.result-1-snippet {
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    padding: 16px;
    line-height: 25px;
    width: 690px;


}

.result-1-snippet h5 {
    display: flex;
    justifiy-content: center;
    margin-top: 30px;


}

.result-1-snippet a {
    padding: 25px 0 10px 0;
}

.result-1-snippet .site-title a{
    dsiplay: inline-block;
    font-size: 20px;
    line-height: 1.3;
    color: #1a0dab;
    text-decoration: none;
}

.result-1-snippet .site-title a:hover {
    text-decoration: underline;
}

.snippets {
    display: flex;
    justify-content: flex-end;
    color: #9e9e9e;
    font-size: 12px;
    align-items: center;
}

.snippets p {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
}

.snippets i {
    margin-left: 10px;
    margin-top: 5px;
}



.material-icons.md-13 {
    font-size: 16px;

}

/*=================
RESULTS-MAIN
==================*/

.result h5 {
    display: flex;
    justifiy-content: center;
    margin-top: 5px;
}

.result .site-title a {
    dsiplay: inline-block;
    font-size: 20px;
    line-height: 1.3;
    color: #1a0dab;
    text-decoration: none;
}

.result h3 {
    margin: 4px 0;
    font-weight: normal;
}

.result h3:hover {
    text-decoration: underline;
}

.result {
    font-size: 16px;
    padding-top: 16px;
    line-height: 25px;
    color: #4d5156;
    margin-bottom: 10px;
}

.sumary-box {
    display: flex;
    width: 690px;
    height: 177px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    position: relative;
}

.sumary-box div {
    display: flex;
    border-top: 1px solid #dfe1e5;
    height: 25%;
    align-items: center;
    padding-left: 16px;
}

.sumary-box div i {
    margin-left: auto;
    padding-right: 22px;
    color: #70757A;
}

.sumary-box div:first-child {
    border-top: none;
    color: #222;
    font-size: 20px;
}

.feedback {
    position: absolute;
    bottom: -20px;
    right: 30px;
    text-decoration: none;
    font-style: italic;
    color: #70757a;
    font-size: 12px;

}

table caption {
    color: #222;
    font-size: 20px;
    text-align: left;
    margin: 30px 0;
}

table {
    color: #70757A;
}

table tr {
    height: 32px;
}

table td {
    padding-right: 20px;
}

table td a {
    text-decoration: none;
    color: #1a0dab;
}

table td a:hover {
    text-decoration: underline;
}

.pages-nav {
    margin: 30px auto;
}

.pages-nav ol {
    display: flex;
}

.pages-nav ol li {
    width: 20px;
    height: 40px;
    text-align: center;
    vertical-align: bottom;
    position: relative;
}

.pages-nav ol li a {
    text-decoration: none;
    color: #4285f4;
}

.pages-nav ol li a:hover {
    text-decoration: underline;
}

.letter-g {
    background-image: url("../assets/nav-icons.png");
    background-position: -24px 0;
    background-size: 167px;
    width: 28px !important;
}

.one {
    background-image: url("../assets/nav-icons.png");
    background-position: -53px 0;
    background-size: 167px;
    vertical-align: bottom;

    
}

.one a {
    position: relative;
    top: 40px;
    width: 100%;
    padding-top: 50px;
}

.two {
    background-image: url("../assets/nav-icons.png");
    background-position: -74px 0;
    background-size: 167px;
    vertical-align: bottom;

    
}

.two a {
    position: relative;
    top: 40px;
    width: 100%;
    padding-top: 50px;
}

.three {
    background-image: url("../assets/nav-icons.png");
    background-position: -74px 0;
    background-size: 167px;
    vertical-align: bottom;

    
}

.three a {
    position: relative;
    top: 40px;
    width: 100%;
    padding-top: 50px;
}

.four {
    background-image: url("../assets/nav-icons.png");
    background-position: -74px 0;
    background-size: 167px;
    vertical-align: bottom;

    
}

.four a {
    position: relative;
    top: 40px;
    width: 100%;
    padding-top: 50px;
}

.five {
    background-image: url("../assets/nav-icons.png");
    background-position: -74px 0;
    background-size: 167px;
    vertical-align: bottom;

    
}

.five a {
    position: relative;
    top: 40px;
    width: 100%;
    padding-top: 50px;
}

.six {
    background-image: url("../assets/nav-icons.png");
    background-position: -74px 0;
    background-size: 167px;
    vertical-align: bottom;

    
}

.six a {
    position: relative;
    top: 40px;
    width: 100%;
    padding-top: 50px;
}

.seven {
    background-image: url("../assets/nav-icons.png");
    background-position: -74px 0;
    background-size: 167px;
    vertical-align: bottom;

    
}

.seven a {
    position: relative;
    top: 40px;
    width: 100%;
    padding-top: 50px;
}

.eight {
    background-image: url("../assets/nav-icons.png");
    background-position: -74px 0;
    background-size: 167px;
    vertical-align: bottom;

    
}

.eight a {
    position: relative;
    top: 40px;
    width: 100%;
    padding-top: 50px;
}

.nine {
    background-image: url("../assets/nav-icons.png");
    background-position: -74px 0;
    background-size: 167px;
    vertical-align: bottom;

    
}

.nine a {
    position: relative;
    top: 40px;
    width: 100%;
    padding-top: 50px;
}

.ten {
    background-image: url("../assets/nav-icons.png");
    background-position: -74px 0;
    background-size: 167px;
    vertical-align: bottom;

    
}

.ten a {
    position: relative;
    top: 40px;
    width: 100%;
    padding-top: 50px;
}

.next {
    background-image: url("../assets/nav-icons.png");
    background-position: -96px 0;
    background-size: 167px;
    width: 71px !important;
}

.next a {
    position: relative;
    top: 40px;
    left: 25px;
    width: 100%;
    padding-top: 50px;
}
/*=================
FOOTER
==================*/

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 15px;
    margin-top: 50px;

}

.footer-row {
    height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    width: 100%;
    white-space: nowrap;

}

.footer-row p,
.footer-row a {
    display: inline-block;
    font-size: 14px;
    margin-left: 27px;
    line-height: 40px;
    text-decoration: none;
    color: #5F6368;
}

.footer-row a:first-child {
    margin-left: 27px;
}

.footer-row a:hover {
    text-decoration: underline;
}

.align-right a {
    float: right;
    margin-right: 30px;
    margin-left: 0 !important;
}

.footer-row a:first-child,
.footer-row p:first-child {
    margin-left: 180px;
}